.services_container {
    text-align: center;
    background-color: #fcfcf5;
}
.projects_contents{
    padding: 50px 0;
}
/* .zoom_p{
overflow: hidden;
}
.zoom:hover {
    transform: scale(1.5); 
} */