.experience_container{
    position: relative;
}
.abstract_img_7 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.abstract_img_8 {
    bottom: 17%;
    position: absolute;
    right: 0;
}
.card-title {
    margin-bottom: .5rem;
    font-size: initial;
}
.img_Width{
    object-fit: contain;
}
.card-body-certification {
    flex: 1 1 auto;
    height: 15rem;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}

.modalDialogeCertificate{
    max-width: 1000px;
}


